config BATTERY_SAMSUNG
	tristate "samsung battery driver"
	help
	  Say Y to include support for samsung battery driver
	  This battery driver integrated all battery-related functions
	  To see battery-related functions,
	  refer to sec_charging_common.h

config BATTERY_SAMSUNG_DATA_FILE
	depends on BATTERY_SAMSUNG
	string "samsung battery data file"
	default "default_battery_data.h"
	help
	  Path to the battery data file.

config SLOW_CHARGING_CURRENT_STANDARD
	int "slow charging"
	depends on BATTERY_SAMSUNG
	default "1000"
	help
	  Value for standard of slow-charging.

config CHARGING_VZWCONCEPT
	tristate "VZW concept about the charging"
	default n
	depends on BATTERY_SAMSUNG
	help
	  Say Y to include support for the VZW concepts.

config BATTERY_SWELLING
	bool "prevent battery swelling"
	help
	  Say Y to include support for prevent battery swelling

config BATTERY_SWELLING_SELF_DISCHARGING
	bool "prevent battery swelling with self discharging"
	help
	  Say Y to include support for prevent battery swelling with self discharging

config PREVENT_SOC_JUMP
	tristate "prevent soc jump at full-charged"
	default n
	depends on BATTERY_SAMSUNG
	help
	  Say Y to prevent soc jump

config SAMSUNG_LPM_MODE
	bool "Off charging mode support in sec battery driver"
	default n
	help
	  Say Y to include support for sec off charging support
	  This value defined at bootloader.
	  Before enable this feature,
	  implemet power off charging in the bootloader.

config SAMSUNG_BATTERY_ENG_TEST
	bool "enable ENG mode for battery test"
	default n
	help
	  Say Y to include support for battery test
	  enable this feature only ENG mode
	  this featuren must disabled user binary
	  stability test etc..

config SAMSUNG_BATTERY_FACTORY
	bool "enable for factory test"
	default n
	help
	  Say Y to include support for factory test
	  enable this feature only factory mode
	  this featuren must disabled user binary
	  stability test etc..

config SAMSUNG_BATTERY_DISALLOW_DEEP_SLEEP
	bool "Disallow deep sleep during charging"
	default n
	depends on BATTERY_SAMSUNG && (ARCH_MSM8974 || ARCH_APQ8084)
	help
	  Say Y to include support
	  Disallow deep sleep during charging for stablity.

config DISABLE_SAVE_CAPACITY_MAX
	bool "Disable to save capacity max in efs"
	default n
	depends on BATTERY_SAMSUNG
	help
	  Say Y to include support to disable it
	  capacity_max is saved in /efs/Battery/batt_capacity_max
	  capacity_max is restored after boot up
	  You can find the code in healthd

config SIOP_CHARGING_LIMIT_CURRENT
	int "Siop charging limit current"
	default 0
	help
	  set SIOP charging limit current.

config EN_OOPS
	bool "enable oops filter"
	default n
	help
	  Say Y to enable oops filter

# Fuel Gauge
config FUELGAUGE_DUMMY
	tristate "dummy fuel gauge driver"
	default n
	depends on BATTERY_SAMSUNG
	help
	  Say Y to include support
	  for dummy fuel gauge driver.
	  This driver source code implemented
	  skeleton source code for fuel gauge functions.

config FUELGAUGE_MAX77849
	tristate "MAX77849 fuel gauge driver"
	default n
	depends on BATTERY_SAMSUNG
	help
	  Say Y to include support
	  It is based on the MAX17050 fuel gauge driver.
	  This fuel-gauge can be used in voltage-tracking mode
	  or coulomb-counting mode.

config FUELGAUGE_MAX77849_VOLTAGE_TRACKING
	tristate "use MAX77849 fuel gauge only as voltage tracking"
	default n
	depends on FUELGAUGE_MAX77849
	help
	  Say Y to use MAX77849 fuel gauge
	  only as voltage tracking.
	  This mode is for target that consumes low current
	  like smart-phone.

config FUELGAUGE_MAX77849_COULOMB_COUNTING
	tristate "use MAX77849 fuel gauge as coulomb counting (including voltage tracking)"
	default n
	depends on FUELGAUGE_MAX77849
	help
	  Say Y to use MAX77849 fuel gauge
	  as coulomb counting (including voltage tracking).
	  This mode is for target that consumes high current
	  like tablet.

# Charger
config CHARGER_DUMMY
	tristate "dummy charger driver"
	default n
	depends on BATTERY_SAMSUNG
	help
	  Say Y to include support
	  for dummy charger driver.
	  This driver source code implemented
	  skeleton source code for charger functions.

config CHARGER_MAX77849
        tristate "MAX77849 battery charger support"
        depends on MFD_MAX77849 && I2C
        help
          Say Y here to enable support for the MAX77849 charger
          MAX77849 incluse muic, pmic, haptic, led,
          flash driver.
          You have to define MFD_MAX77849
