# Samsung configuration options

config MACH_SAMSUNG
	bool "Samsung device"
	depends on ARCH_MSM
	help
	  Support for Samsung products

menu "Samsung project family selection"

config SEC_GT58_PROJECT
	bool "Samsung GT5 8 Project"
	depends on ARCH_MSM8916
	select MACH_SAMSUNG
	help
	  Support for Samsung GT5 8 Project

config SEC_GT510_PROJECT
	bool "Samsung GT5 10 Project"
	depends on ARCH_MSM8916
	select MACH_SAMSUNG
	help
	  Support for Samsung GT5 8 Project

endmenu

menu "Samsung board selection"

config MACH_GT58WIFI_EUR_OPEN
	bool "Samsung GT5 8 WIFI EUR Open"
	depends on SEC_GT58_PROJECT
	help
	  Support for Samsung GT5 8 WIFI EUR Open device.

config MACH_GT510WIFI_EUR_OPEN
	bool "Samsung GT5 10 WIFI EUR Open"
	depends on SEC_GT510_PROJECT
	help
	  Support for Samsung GT5 10 WIFI EUR Open device.

endmenu

menu "Samsung features"

config EXTEND_SERIAL_NUM_16
	bool "Extended serial number (16 digits)"
	default n

endmenu

