#
# MUIC devices
#

comment "MUIC configs"

config SM5504_MUIC
	bool "SILICON MITUS MUIC"
	default n
	help
	  This option enables SILICON MITUS MUIC.

config MUIC_SUPPORT_AUDIO_DOCK
	bool "MUIC_SUPPORT_AUDIO_DOCK"
	default n
	help
	  If you say yes here you will get support for the audio dock.

config MUIC_SUPPORT_DESK_DOCK
	bool "MUIC_SUPPORT_DESK_DOCK"
	default n
	help
	  If you say yes here you will get support for the desk dock.

config MUIC_SUPPORT_SMART_DOCK
	bool "MUIC_SUPPORT_SMART_DOCK"
	default n
	help
	  If you say yes here you will get support for the smart dock.

config MUIC_SUPPORT_MMD_CTL
	bool "MUIC_SUPPORT_MMD_CTL"
	default n
	help
	  If you say yes here you will get support for the smart dock enable func by keystring.

config MUIC_SUPPORT_LANHUB
	bool "MUIC_SUPPORT_LANHUB"
	depends on !SEC_FACTORY
	default n
	help
	  If you say yes here, you will get support for the LANHUB cable.

config MUIC_SUPPORT_RUSTPROOF
	bool "MUIC Disable UART"
	depends on !SEC_FACTORY
	default n
	help
	 This option will disable the UART to prevent the rusting of the
	 IF Connector in the case of Kmini Devices.

config MUIC_SUPPORT_RUSTPROOF_INBATT
	bool "MUIC Disable UART IN SUSPEND"
	depends on !SEC_FACTORY
	default n
	help
	 This option will muic path open in the suspend
	 this is for only in-battery model

config MUIC_SUPPORT_CHARGING_CABLE
	bool "MUIC CHARGING CABLE SUPPORT"
	default n
	help
	 This option will enable the Charging (Power sharing) Cable

config MUIC_SUPPORT_INCOMPATIBLE_CHARGER
	bool "MUIC_SUPPORT_INCOMPATIBLE_CHARGER"
	default n
	help
	  If you say yes here you will get support for the incompatible charger.

config MUIC_SUPPORT_VZW_INCOMPATIBLE
	bool "MUIC VZW INCOMPATIBLE CHARGER SUPPORT"
	default n
	help
	 This option will enable the Incompatible Charger for VZW requirement

config USBID_STANDARD
	bool "USBID_STANDARD"
	default n
	help
	  If you say yes here you will get support for usbid standard.

config USBID_STANDARD_VER_01
	bool "USBID STANDARD VER 01"
	default n
	help
	  This option enables USBID STANDARD.
